*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
debug
release
releases
x64
x86
build
bld
bin
obj
msbuild.log
msbuild.err
msbuild.wrn
code_coverage
Scrypts\tools\*

# Visual Studio 2015
.vs
*.trx
CentralDeErros/CentralDeErros.CrossCutting/Scrypts/tools/Cake/LICENSE
